<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b5ee560b9a.js" crossorigin="anonymous"></script>
    <%- include('style/css') %>
</head>

<body>
    <nav>
        <ul class="menu">
            <li class="menu__item"><a href="/user/<%= data.id %>/items">Detail Items</a></li>
            <li class="menu__item"><a href="/user/<%= data.id %>/edit/<%= data.id %>">Edit Items</a></li>
            <li class="menu__item"><a href="/logout" class="btn btn-danger">Logout</a></li>

        </ul>
        <div class="burger-menu">
            <span class="burger"></span>
        </div>
    </nav>
    <header class="header">
        <div class="header__title-container">
            <h1 class="header__title">Ngirim bro<img class="header__title-logo" alt="Mercury Delivery logo"></h1>
        </div>
        <h2 class="header__info">paket pa pa <span class="header__span">paket</span> pak, bu</h2>
        <button class="header__button"><a href="/user/add-items" class="header__btn-text">Add Items</a>
            <img src="./svg/arrow-down.svg" alt="" class="scroll">
            <div class="lines">
                <span class="lines__item"></span>
                <span class="lines__item"></span>
                <span class="lines__item"></span>
                <span class="lines__item"></span>
            </div>
    </header>
    <section id="about" class="about">


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>

</html>